MONGO_URI=mongodb+srv://akashbiswasdipto:n12371661123@foodmanagement.jrd7lmt.mongodb.net/foodmanagement?retryWrites=true&w=majority&appName=foodmanagement
JWT_SECRET=2J8zqkP7VN6bxzg+Wy7DQZsd3Yx8mF3Bl0kch6HYtFs=
PORT=5001
